<html>
  <head>
    <title>Tower Crane Color Log</title>
    <link rel="stylesheet" type="text/css" href="main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div>
      <a class="link-button" href="/api/data">Raw Data</a>
      <a class="link-button" href="/predict">Prediction</a>
    </div>
    <center>
      <table class="data">
        <tr>
          <th>Date</th>
          <th>Color</th>
          <th>Notes</th>
        </tr>
        {{#renderData}}
        <tr>
          <td>{{date}}</td>
          <td class="color"><a href="/photos/{{colorClass}}.jpg" class="{{colorClass}}" title="View an example {{color}} crane.">{{color}}</a></td>
          <td>{{notes}}</td>
        </tr>
        {{/renderData}}
      </table>
    </center>
  </body>
</html>