<html>
  <head>
    <title>Prediction | Tower Crane Color Log</title>
    <link rel="stylesheet" type="text/css" href="main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <style>
      table {
        width: 350px !important;
      }

      p {
        color: white;
        float: none !important;
        width: 300px;
        font-size: 18px !important;
        clear: both;
        margin-top: 200px;
      }
    </style>
  </head>
  <body>
    <div>
      <a class="link-button" href="/">Home</a>
    </div>
    <center>
      {{^hasPrediction}}
      <p class="link-button">No prediction currently available.</p>
      {{/hasPrediction}}
      {{#hasPrediction}}
      <table>
        <tr>
          <th>Color</th>
          <th>Probability</th>
          <th></th>
        </tr>
        {{#prediction}}
        <tr>
          <td><a href="/photos/{{colorClass}}.jpg" class="{{colorClass}}" title="View an example {{color}} crane.">{{color}}</a></td>
          <td><progress class="{{colorClass}}" value="{{percent}}" max="100"></progress></td>
          <td>{{percent}}%</td>
        </tr>
        {{/prediction}}
      </table>
      {{/hasPrediction}}

      {{#hasPrediction}}<p id="disclaimer"><i>This prediction is for {{predictionDate}} only.</i></p>{{/hasPrediction}}
    </center>
  </body>
</html>