@import "https://fonts.googleapis.com/css?family=Open+Sans";

* {
  font-family: "Open Sans", sans-serif;
}

.link-button {
  float: left;
  margin: 3px;
  margin-bottom: 20px;

  color: white;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 7px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
}

.link-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

body {
  background: url('/background2.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#disclaimer {
  margin: 0px;
  margin-top: 15px;
  font-size: 14px !important;
}

table {
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  font-size: 15px;
  clear: both;
  width: 250px;

  margin-top: 40px;
  margin-bottom: 0px;

  box-shadow: 0 0 20px #000;
  border-spacing: 0;
  border-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}

.data {
  margin-bottom: 70px;
  width: 400px;
}

td, th {
  padding: 7px;
  text-align: left;
}

th, td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

td.color {
  min-width: 100px;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.3);;
}

a, a:visited {
  text-decoration: none;
}


/* rule for small screens */
@media (max-width: 500px) {
  table {
    width: 95%;
  }
}

/* probability bars */
progress {
  -webkit-appearance: none;
  appearance: none;
	width: 170px;
	margin-right: 10px;
	margin-left: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3) !important;
  margin: 3px;
}

progress[value]::-webkit-progress-bar {
  background-color: rgba(90,90,90,0.8);
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* Color Classes */
.green {
  color: #33ff77 !important;
  text-shadow: 2px 1px 5px #33ff77;
}
progress.green::-moz-progress-bar { background: #33ff77; }
progress.green::-webkit-progress-value { background: #33ff77; }

.blue {
  color: #4d94ff;
  text-shadow: 2px 1px 5px #4d94ff;
}
progress.blue::-moz-progress-bar { background: #4d94ff; }
progress.blue::-webkit-progress-value { background: #4d94ff; }

.red {
  color: #ff4d4d;
  text-shadow: 2px 1px 5px #ff4d4d;
}
progress.red::-moz-progress-bar { background: #ff4d4d; }
progress.red::-webkit-progress-value { background: #ff4d4d; }

.white {
  color: white;
  text-shadow: 2px 1px 5px white;
}
progress.white::-moz-progress-bar { background: white; }
progress.white::-webkit-progress-value { background: white; }

.pink {
  color: #ff4dff;
  text-shadow: 2px 1px 5px #ff4dff; 
}
progress.pink::-moz-progress-bar { background: #ff4dff; }
progress.pink::-webkit-progress-value { background: #ff4dff; }

.light-orange {
  color: #ffcc66;
  text-shadow: 2px 1px 5px #ffcc66;
}
progress.light-orange::-moz-progress-bar { background: #ffcc66; }
progress.light-orange::-webkit-progress-value { background: #ffcc66; }

.off {
  color: #666666;
  text-shadow: 2px 1px 5px #666666;
}
progress.off::-moz-progress-bar { background: #333333; }
progress.off::-webkit-progress-value { background: #333333; }